    *.md                    @joh-klein  # <- works
README.md # @joh-klein  # <- works
README.md \# @markusfalk  # <- doesn't work (Error)

/src/hello-world.txt @markusfalk  # <- works

# Testing character range
file[0-9].txt @joh-klein # <- doesn't work (Error)

# Test Negation !
*.log @markusfalk  # <- works
# !/src/testing.log @joh-klein # <- doesn't work
# /src/testing.log @joh-klein # <- works
# !src/testing.log @joh-klein # <- doesn't work
# src/testing.log @joh-klein # <- works
# !**/testing.log @joh-klein # <- doesn't work
# **/testing.log @joh-klein # <- works
# !*/testing.log @joh-klein # <- doesn't work
# */testing.log @joh-klein # <- works
# !testing.log @joh-klein # <- works
# testing.log @joh-klein # <- works
/src/important.log @joh-klein

# Testing escaping \#
#testfile.js @markusfalk  # <- doesn't work
\#testfile.js @joh-klein # <- works
# /src/#testfile.js @markusfalk # <- doesn't work
/src/\#testfile.js @markusfalk # <- works
# test#file.txt @joh-klein # <- doesn't work
test\#file.txt @markusfalk # <- works

file1.txt @markusfalk
\# file8.txt @markusfalk