    *.md                    @joh-klein
README.md # @joh-klein
README.md \# @markusfalk <- error

/src/hello-world.txt @markusfalk

# Testing character range
file[0-9].txt @joh-klein # <-error

# Test Negation
*.log @markusfalk
/src/*.log
/src/important.log @joh-klein

# Testing escaping \#
\#testfile.js @joh-klein
test#file.js @joh-klein
test\#file.js @markusfalk